<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  color="danger" routerLink="/home">
        Salir
      </ion-button>
    </ion-buttons>
    <ion-title color="danger">MiniCop App</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Pagina principal -->
<ion-content id="main-content" class="ion-padding" align="center">

      <ion-card-title id="card" >Botón de Pánico</ion-card-title>
      <ion-card-subtitle color="danger">Usar con precaución</ion-card-subtitle>
    
    
      Presiona el botón cuando necesites ayuda, este botón te redirigirá la llamada al 911 y alertará a tus contactos guardados de forma automática.
    
      <ion-img src="/assets/DIVIDER.png"></ion-img>
      

  <!-- BOTON DE PANICO -->
        <ion-button class="panic_button" (click)=" actualizarBoton()">
          <ion-icon name="alert-outline" size="900"></ion-icon>
        </ion-button>
        <br>

        <ion-card>
          <ion-card-header>
            <ion-card-title> Emergencia</ion-card-title>
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-card-subtitle color="danger">Selecciona el tipo de emergencia</ion-card-subtitle>
          </ion-card-header>

<!--SELECCION TIPO DE EMERGENCIA-->
          <ion-card-content>
            <ion-select interface="action-sheet" placeholder="Emergencia:" cancelText="Cancelar">
              <ion-select-option>Incendio</ion-select-option>
              <ion-select-option>Robo Casa-Habitación</ion-select-option>
              <ion-select-option>Accidente de Hogar</ion-select-option>
              <ion-select-option>Extorsión</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>

</ion-content>




