<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="danger">MiniCop App</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<!--Barra desplegable-->

<!-- Pagina principal -->

<ion-content id="main-content" class="ion-padding" align="center">

      <ion-card-title id="card" >Boton de Panico</ion-card-title>
      <ion-card-subtitle color="danger">Tu mejor opcion</ion-card-subtitle>
    
    
      Presiona el boton cuando necesites ayuda, este boton te redirigira la llamada al 911 automaticamente.
    
      <ion-img src="/assets/DIVIDER.png"></ion-img>
      

  <!-- BOTON DE PANICO -->
        <ion-button class="panic_button" (click)="startAnimation()">
          <ion-icon name="alert-outline" size="900"></ion-icon>
        </ion-button>

        <ion-button shape="round" color="danger" href="https://www.youtube.com/watch?v=LEEWO4_RI6I">Aprender Mas</ion-button>

  
        
</ion-content>




