<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/pages/principal" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Contactos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div id="main-content" class="ion-padding" align="center">
  
      <H2>Tus Contactos</H2>
      <ion-card-subtitle color="danger">Tu mejor opcion para tu seguridad</ion-card-subtitle>

      Selecciona los contactos de tu confianza para avsiarles a todo momento sobre tu seguridad

<ion-img src="/assets/DIVIDER.png"></ion-img>

<!-- Contacto 1-->
<ion-card align="center" *ngFor="let contacto of contactos; let index = index">
  <ion-item>
    <ion-avatar class="avatar">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-item>
  
  <h5>Datos Contacto {{index+1}}</h5>
<ion-list >
  <ion-item>
    <ion-input name="nombrecompleto" [(ngModel)]="contacto.nombrecompleto">Nombre Completo:</ion-input>
  </ion-item>
  <ion-item>
    <ion-input  type="number" name="telefono" [(ngModel)]="contacto.telefono">Telefono:</ion-input>
  </ion-item>
  <ion-item>
    <ion-input  type="number" name="edad" [(ngModel)]="contacto.edad">Edad:</ion-input>
  </ion-item>
</ion-list>
<ion-item>
  <ion-label color="danger">Parentesco</ion-label>
  <ion-select placeholder="Selecciona el Parentesco">
    <ion-select-option value="">Mamá</ion-select-option>
    <ion-select-option value="nes">Papá</ion-select-option>
    <ion-select-option value="n64">Hermana/Hermano</ion-select-option>
    <ion-select-option value="n64">Otro Familiar</ion-select-option>
    <ion-select-option value="n64">Tutor</ion-select-option>
    <ion-select-option value="n64">Amigo</ion-select-option>
  </ion-select>
</ion-item>
<ion-button color="danger" (click)="registrarContacto(index)">Registrame</ion-button>
</ion-card>

</div>
  
</ion-content>
