<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/principal" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Contactos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div id="main-content" class="ion-padding" align="center">
  <p>
    Escribe 3 contactos los cuales sean de mayor importancia para ti una vez registrados para tener un registro exitoso  </p>
    

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-input color="danger">
      
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Parentesco</ion-label><ion-toggle slot="end"></ion-toggle>
    <ion-select placeholder="Selecciona el Parentesco">
      <ion-select-option value="">Mamá</ion-select-option>
      <ion-select-option value="nes">Papá</ion-select-option>
      <ion-select-option value="n64">Hermana/Hermano</ion-select-option>
      <ion-select-option value="n64">Otro Familiar</ion-select-option>
      <ion-select-option value="n64">Tutor</ion-select-option>
      <ion-select-option value="n64">Amigo</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-input color="danger">
      
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Parentesco</ion-label> <ion-toggle slot="end"></ion-toggle>
    <ion-select placeholder="Selecciona el Parentesco">
      <ion-select-option value="">Mamá</ion-select-option>
      <ion-select-option value="nes">Papá</ion-select-option>
      <ion-select-option value="n64">Hermana/Hermano</ion-select-option>
      <ion-select-option value="n64">Otro Familiar</ion-select-option>
      <ion-select-option value="n64">Tutor</ion-select-option>
      <ion-select-option value="n64">Amigo</ion-select-option>
    </ion-select>
  </ion-item>
 

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-input color="danger">
      
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Parentesco</ion-label><ion-toggle slot="end"></ion-toggle>
    <ion-select placeholder="Selecciona el Parentesco">
      <ion-select-option value="">Mamá</ion-select-option>
      <ion-select-option value="nes">Papá</ion-select-option>
      <ion-select-option value="n64">Hermana/Hermano</ion-select-option>
      <ion-select-option value="n64">Otro Familiar</ion-select-option>
      <ion-select-option value="n64">Tutor</ion-select-option>
      <ion-select-option value="n64">Amigo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      Ambulancia
    </ion-label>
  </ion-item>

  <ion-button color="danger" (click)="presentAlert()"  align="center">Registrar</ion-button>
  <p>{{ handlerMessage }}</p>
  <p>{{ roleMessage }}</p>
  
    
</div>
  
</ion-content>
