<ion-header>
  <ion-toolbar>

    <ion-title color="danger">Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" align="center" >

  
  <p>
    3 Tips para mejorar tu seguridad  </p>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/2552/2552062.png" />
    <ion-card-header>
      <ion-card-title>Alarmas de Seguridad</ion-card-title>
      <ion-card-subtitle>Tip 1</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Las alarmas de seguridad permiten alertar tanto a los residentes así como a los intrusos de que han sido detectados.  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/3064/3064353.png" />
    <ion-card-header>
      <ion-card-title>Buenas Cerraduras</ion-card-title>
      <ion-card-subtitle>Tip 2</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Contar con buenas cerraduras hacen de tu hogar un lugar más seguro y de difícil acceso para los delincuentes. 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/1672/1672451.png"/>
    <ion-card-header>
      <ion-card-title>Alerta Vecinal</ion-card-title>
      <ion-card-subtitle>Tip 3</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      En caso de encontrarse en una situación de riesgo, el contar con un medio de alerta vecinal perimitirá
      alertar a tu comunidad y de esta manera contar con su asistencia.

    </ion-card-content>
  </ion-card>
  <ion-button shape="round" color="danger" href="https://www.youtube.com/watch?v=LEEWO4_RI6I">Aprender Más</ion-button>
</ion-content>

