<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/principal" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" align="center" >

  
  <p>
    3 Tips para mejorar tu seguridad  </p>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/2552/2552062.png" />
    <ion-card-header>
      <ion-card-title>Alarmas de Seguridad</ion-card-title>
      <ion-card-subtitle>Tip 1</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Las alarmas de seguridad son muy buenas de sonido como electricas ambas pueden brindar una buena proteccion a tu hogar.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/3064/3064353.png" />
    <ion-card-header>
      <ion-card-title>Buenas Cerraduras</ion-card-title>
      <ion-card-subtitle>Tip 2</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Buenas cerraduras hacen que tu casa sea mas protegida y dificil de intentar ingresar a ella.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/1672/1672451.png"/>
    <ion-card-header>
      <ion-card-title>Alerta Vecinal</ion-card-title>
      <ion-card-subtitle>Tip 3</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      En caso de estar en una situacion de riesgo siempre ten un medio de alerat vecinal para toda la comunidad.

    </ion-card-content>
  </ion-card>
</ion-content>
