<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="danger">MiniCop App</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<!--Barra desplegable-->

<ion-menu contentId="main-content" align="center">

  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Acciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="danger">Mensajes Instantaneos</ion-card-subtitle>
        <ion-card-title>Mensajes</ion-card-title>        
      </ion-card-header>
      <ion-item routerLink="/mensajes"><ion-icon name="mail-outline" color="danger"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="danger">Tus Seres Amados</ion-card-subtitle>
        <ion-card-title>Contactos</ion-card-title>
      </ion-card-header>
      <ion-item routerLink="/contactos"><ion-icon name="people-circle-outline" color="danger"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="danger">Se Parte De Nosotros</ion-card-subtitle>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
        <ion-item routerLink="/home"><ion-icon name="person-add-outline" color="danger"></ion-icon>
        </ion-item>
    </ion-card>
  
      <ion-menu-toggle>
        <ion-button color="danger">Cerrar</ion-button>
      </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-content>
<div id="main-content" class="ion-padding" align="center">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Boton de Panico</ion-card-title>
      <ion-card-subtitle color="danger">Tu mejor opcion</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Presiona el boton cada vez que necesites ayuda, este boton te redirigira para realizar la llamada al 911 automaticamente.
    </ion-card-content>
  </ion-card>

      <img src="assets/Button2.png" style="width : 80% ; height : 80%" ng-click="nextpage()" >

      <ion-button color="danger">Aprende Más</ion-button>

      
    
</div>


</ion-content>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/principal">
      <ion-icon name="bag-add-outline" color="danger"></ion-icon>
      <ion-text color="danger"> Emergencia</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="search" routerLink="/ubicacion">
      <ion-icon name="location-outline" color="danger"></ion-icon>
     <ion-text color="danger"> Tu Ubicacion</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="search" routerLink="/tips">
      <ion-icon name="heart-outline" color="danger"></ion-icon>
      <ion-text color="danger"> Tips</ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


                
  


