
<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button  color="danger"></ion-menu-button>
  </ion-buttons>
 <strong><ion-title color="danger">Minicop App</ion-title></strong> 
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding" align="center">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Acciones Rapidas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item routerLink="/mensajes">
        <ion-label color="danger">Mensajes</ion-label><ion-icon name="mail-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-item routerLink="/home">
        <ion-label color="danger">Registro</ion-label><ion-icon name="person-add-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-item routerLink="/contactos">
        <ion-label color="danger">Contactos</ion-label><ion-icon name="people-circle-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-content class="ion-padding">
        <ion-menu-toggle>
          <ion-button color="danger">Cerrar</ion-button>
        </ion-menu-toggle>
      </ion-content>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
 
  </div>

  <p>
    Presiona el boton cada vez que necesites ayuda, este boton te redirigira para realizar la llamada al 911 automaticamente para ponerte en contacto con el C5 municipal
  </p>


    <div align="center">
      <ion-img src="assets/Button2.png" style="height: auto; max-width: 25vh;"></ion-img>
    </div>
 

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  
    <ion-tab-bar slot="bottom"  color="danger">
      <ion-tab-button tab="home"  color="danger" routerLink="/principal">
        <ion-icon name="bag-add-outline"></ion-icon>
        Emergencia
      </ion-tab-button>
      <ion-tab-button tab="search"  color="danger"  routerLink="/ubicacion">
        <ion-icon name="location-outline"></ion-icon>
        
        Tu Ubicacion
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

