<!-- 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button default-href="#" routerLink="/home"  color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Inicio de sesion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Crea tu cuenta!</h1>
      <p>Protege tu seguridad con nosotros</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div> 
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo Electronico</ion-label>
          <ion-input type="mail"></ion-input>
        </ion-item>
      </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </div>
      </div>
    
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" color="danger">Crea tu cuenta</ion-button>
      
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/logim" color="danger">Iniciar Sesion</ion-button>
      <p routerLink="/home">Inicio</p>
    </div>
    </div>
</ion-content>

 