<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/home" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label color="danger">Nombre</ion-label>
      <ion-input placeholder="Ingresa tu nombre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color="danger">Apellido</ion-label>
      <ion-input placeholder="Ingresa tus apellidos"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="danger">Contraseña</ion-label>
      <ion-input type="password" value="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="danger">Correo Electronico</ion-label>
      <ion-input placeholder="correo@dominio.com"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" color="danger">Numero de Telefono</ion-label>
      <ion-input placeholder="Ingresa tu numero celular"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <ion-button color="danger">
    Iniciar
  </ion-button>
</ion-content>
