<!-- 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button default-href="#" routerLink="/home"  color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Inicio de sesion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Crea tu cuenta!</h1>
      <p>Porfavor ingrese sus datos</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.nombreUser"></ion-input>
        </ion-item>
      </div> 
      
      <div class="form-input">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input name="edaduser" [(ngModel)]="usuario.edadUser"></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-icon name="call-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Número de Teléfono</ion-label>
          <ion-input type="mail" [(ngModel)]="usuario.telefonoUser"></ion-input>
        </ion-item>
      </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="usuario.userPass"></ion-input>
          </ion-item>
        </div>
      </div>
    
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" color="danger" (click)="registrarUsuario()">Crea tu cuenta</ion-button>
      
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/login" color="danger">Iniciar Sesión</ion-button>
      <p routerLink="/home">Inicio</p>
    </div>
    </div>
</ion-content>