<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/pages/principal" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" align="center" >


      <H2>Mensajes</H2>
      <ion-card-subtitle color="danger">Tu mejor opcion para tu seguridad</ion-card-subtitle>
   
      Manda mensajes a las personas que mas quieras para que sepan sobre ti.
      <ion-img src="/assets/DIVIDER.png"></ion-img>

  <ion-list class="ion-padding">
    <form (ngSubmit)="registrarMensajes()" #forma="ngForm">
      <ion-item>
        <ion-label position="stacked">Mensaje numero 1</ion-label>
        <ion-input name="mensaje1" [(ngModel)]="mensaje1" placeholder="¡Necesito tu ayuda!"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Mensaje numero 2</ion-label>
        <ion-input name="mensaje2" [(ngModel)]="mensaje2" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Mensaje numero 3</ion-label>
        <ion-input name="mensaje3" [(ngModel)]="mensaje3" placeholder="¡Llama al 911!"></ion-input>
      </ion-item>
      <br>
      <ion-button type="submit" expand="block" color="danger" (click)="presentToast('bottom')">ENVIAR SMS</ion-button>
      
    </form>
  </ion-list>
  
</ion-content>

