
<div class="ion-page" id="main-content" >


  <ion-content class="ion-padding" align="center">
<div align="center">
  <ion-img src="assets/MinicopDefault.png" style="height: auto; max-width: 25vh;"></ion-img>
</div>
<br>
<br>
 <ion-text color="danger">
   <h1>MINICOP</h1>
 </ion-text>
 <ion-text>
  Viviendas seguras, familias seguras, MiniCop, para casos de emergencia y asistencia rápida
 </ion-text>

 <br>
 <br>
 <br>

 <ion-button expand="block" color="danger"  routerLink="/login">Iniciar Sesión</ion-button>
 <ion-button expand="block" color="danger"  routerLink="/signup">Registrarse</ion-button>

 

<br>


  <ion-text color="danger" routerLink="/pages/principal">
  Continuar sin registro
  </ion-text>
</ion-content>

</div>
