<ion-header>
  <ion-toolbar>

    <ion-title color="danger">Ubicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content" align="center">

  <H2>Tu Ubicacion</H2>
  <ion-card-subtitle color="danger">Tu mejor opcion para tu seguridad</ion-card-subtitle>

Comparte tu ubicacion a tus familiares
  <ion-button color="danger" (click)="presentAlert()"  align="center">Compartir</ion-button>
  <p>{{ handlerMessage }}</p>
  <p>{{ roleMessage }}</p>

  <ion-img src="/assets/DIVIDER.png"></ion-img>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.804723527039!2d-102.24995368460962!3d21.942057361346993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429f1701dc31605%3A0xbb03374e660a22c6!2sUniversidad%20Tecnol%C3%B3gica%20Metropolitana%20de%20Aguascalientes!5e0!3m2!1ses-419!2smx!4v1677116339160!5m2!1ses-419!2smx" width="335" height="200" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  